* {
    margin: 0;
    padding: 0;

}

// body {
//     width: 90vw;
//     height: 100vh;
//     // overflow: hidden;
//     /* background-color: #1E1E1E; */
// }

.container {
    width: 800px;
    height: 400px;
    margin: 200px auto;
    text-align: center;

    .inputContainer {
        width: 800px;
        margin: 50px 0;

        .label {
            display: inline-block;
            text-align: left;
            width: 200px;
        }

        .input {
            width: 400px;
        }
    }

    #login {

        margin: 60px 0;
    }

}


/* .container {
    width: 600px;
    height: 700px;
    margin: 100px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: relative;
}

#username,
#password {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #454545;
    background-color: transparent;
    margin-bottom: 100px;
    font-size: 20px;
    color: #006fff;
    user-select: none;
}

input:focus {
    outline: none;
}

.container label {
    position: absolute;
    color: #9e9e9e;
    font-size: 25px;
    left: 150px;
    transition: 0.2s ease all;
    user-select: none;
}

.usernameLabel {
    top: 180px;
}

.passwordLabel {
    top: 310px
}




.container input:focus+label {
    transform: translateY(-30px);
    font-size: 20px;
    color: #006fff;
}


.loginBtn {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #9e9e9e;
    user-select: none;
}

.loginBtn:hover {
    color: #006fff;
}


.title {
    float: left;
    font-size: 100px;
    margin: 100px 0 0 0;
    user-select: none;
}

.first {
    color: #6c35de;
}

.second {
    color: #3F51B5;
}

.third {
    color: #006fff;
}

.forth {
    color: #0085ff;
}

.fifth {
    color: #00E5FF;
} */