* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    user-select: none;
}

.top {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
}

.top>div {
    height: 40px;
    line-height: 40px;
}

.top>div:hover {
    border-bottom: 2px solid #006fff;
}


.dataList,
th,
td {
    border: solid;
    border-collapse: collapse;
    vertical-align: center;
    text-align: center;
}

th,
td {
    height: 100px;
}


.student,
.sc,
.course,
.statistics,
.personalGrade {
    cursor: pointer;
}

.dataList {
    margin-top: 20px;
    width: 100vw;
}

.dataFunction {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2d2d2d;
    margin-bottom: 10px;
}

.dataFunction>div {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.dataFunction>div:hover {
    border-bottom: 2px solid #006fff;
}